{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}Django Template Project{% endblock title %}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'website/css/style.css' %}"/>

	<!-- Favicon -->
	<link rel="icon" href="{% static 'website/images/favicon.ico' %}?v=2">

	{% block head_js %}

	{% endblock head_js %}

</head>

<body>
	{% block contents %}

	{% endblock contents %}

	{% block js %}

	{% endblock js %}
</body>
</html>